body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
    border-right: 250px solid black;
    border-left: 250px solid black;

}

#header-logo {
    font-size: 24px;
    font-weight: 1000;
    color: #f9faf8;
}

#mountain {
   height: 243px;
   width: 365px; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    background-color: #1f2937;
    font-size: 18px;
    padding-left: 160px;
    padding-right: 160px;
}

.S1-left {
    max-width: 500px;
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: #e5e7eb;
    font-size: 48px;
    font-weight: 800;
    height: 350px;
    gap: 60px;
}

.s1-button {
    width: 150px;
    height: 50px;
    background-color: #2883f6;
    color: #f9faf8;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
}

#S1-subtext {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 250px;
    text-align: center;
}

.section-2 {
    color: grey;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-right: 65px;
    margin-bottom: 60px;
    margin-top: 5px;
}

.turtle {
    width: 250px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.S2-Top {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 25px 0px;
    padding-left: 35px;
}

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 100px 275px;
}

.s3-top {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.s3-bottom {
    font-size: 20px;
    font-weight: bold;
}

.section-4 {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    padding: 40px 80px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
}

.s4-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s4-right {
    width: 150px;
    height: 50px;
    background-color: #2883f6;
    color: #f9faf8;
    border: 1px solid #f9faf8;
    border-radius: 10px;
    font-size: 20px;
}

.s4-h1 {
    font-size: 24px;
    font-weight: bolder;
}