body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8
}

#mountain {
   height: 243px;
   width: 365px; 
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e5e7eb;
    background-color: #1f2937;
    font-size: 18px;
}

.S1-left {
    max-width: 500px;
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: #e5e7eb;
    font-size: 48px;
    font-weight: 800;
    height: 350px;
    gap: 60px;
}

button {
    width: 150px;
    height: 50px;
    background-color: #2883f6;
    color: #f9faf8;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    
}

#S1-subtext {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 250px;
    text-align: center;
}

.section-2 {
    color: grey;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.turtle {
    width: 250px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.S2-Top {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 25px 0px;
}
